<!DOCTYPE html>
<html>

<head>
  <!-- AMP Analytics -->
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <style>
    body {
      background-color: lightcoral;
    }

  </style>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>My Website</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Google Tag Manager -->
  <amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-PJXJTVGN&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>

<center>
  <!-- Main heading for my Education page -->
  <h1 style="background-color: lightgray;">Education</h1>
  
   <!-- Undergraduate details-->
  <p> 
    <br>
   <h4>University of Nigeria </h4> 
    <h5>Bachelors of Computer Science, 2013</h5>
 </p>
  <br>
   <!-- Graduate diploma details for Nile University -->
<p>
<h4>Nile Univeristy of Nigeria</h4>
  <h5>Graduate Diploma in Management, 2019</h5>
</p>
  <br>
   <!-- Graduate diploma details for cambrian college -->
<p>
<h4> Cambrian College </h4>
  <h5>Diploma in Business Analytics, 2024</h5>
  
</p>

<!--points to my skills
  
  <!-- Navigation to other links -->
  <a href="/"><button>Home</button></a>
  <a href="/exp"><button>Work Experience</button></a> 
  <a href="/skills"><button>Skills</button></a>
  <a href="/art"><button>Articles</button></a>
  <a href="/links.html"><button>Links</button></a>

  <br>
    <br>


   <!-- Goes to the links page that has all links-->
    <img src = "static/images/linkedin_image.jpg" width = 50>
    <br>
    <a href="linked_page.html"> Visit my LinkedIn profile</a>
  <br>
  <br>
   <!-- Goes to the links page that has all links-->
    <img src = "static/images/cambrian_pix.jpg" width = 50>
    <br>
    <a href="linked_page.html"> Send an email<br></a>
    <a href="/weather"><button>Weather</button></a>
    <a href="/bmi"><button>BMI</button></a>

  <br>

  <a href="Doc/resume.pdf">Click Here to Downlaod my Resume<br></a>

  <a href="Doc/course.pdf">Click Here to Downlaod my Course Outline<br></a>
  
   <br> 
  <!-- Table structure for education-->

  <table border="3">
    <tr>
      <th>Name of School</th>
      <th>Country</th>
      <th>Course</th>
      <th>Certificate Awarded</th>
      <th>Month of Graduation</th>
      <th>Year of Graduation</th>
       <th>Duration of Program(Years)</th>
    </tr>
    <tr>
      <th>Cambrian College</th>
      <th>Canada</th>
      <th>Business Analytics</th>
      <th>Graduate Diploma</th>
      <th>August</th>
      <th>2024</th>
       <th>1</th>
    </tr>
    <tr>
      <th>Nile University of Nigeria</th>
      <th>Nigeria</th>
      <th>Management</th>
      <th>Graduate Diploma</th>
      <th>June</th>
      <th>2019</th>
      <th>1</th>
    </tr>
    <tr>
      <th>University of Nigeria</th>
      <th>Nigeria</th>
      <th>Computer Science</th>
      <th>Bachelor's Degree</th>
      <th>June</th>
      <th>2013</th>
      <th>4</th>
    </tr>
  </table>



</center>
  </body>    

  </html>