<!DOCTYPE html>
<html>

<head>  
  <!-- AMP Analytics -->
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <style>
  body {
    background-color: lightcoral;
  }
  
</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>My Website</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Google Tag Manager -->
  <amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-PJXJTVGN&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>

<center>
 
  <h1 style="background-color: lightgray;">Linked Pages</h1>
  
  <!-- LinkedIn profile section with linkedin logo attached-->
  <a href="https://www.linkedin.com/feed/">
  <img src = "static/images/linkedin_image.jpg" width = 50>
  </a>
  <br>
    <a href="https://www.linkedin.com/lyndauzuegbu"> Visit my LinkedIn profile<br></a>
  <br>
  <br>
  
   <!-- Link to my email-->
  <a href="https://outlook.office.com/mail">
  <img src="static/images/cambrian_pix.jpg" width="50">
  </a>
  <br>
  <a href="https://outlook.office.com/mail">Send an email</a>
  <br>
  <br>

  <!-- Link to my course outline -->
  <br>
  <br>
  <a href="Doc/course.pdf">
    <img src="static/images/course.jpg" width="100" >
  </a>
  <br>
   <!-- Link to my course outline-->
    <a href="Doc/course.pdf">Click Here to Downlaod my Course Outline</a>
  <br>

  <br>
  <a href="Doc/resume.pdf">
    <img src="static/images/resume.jpg" width="100">
  </a>
  <br>
   <!-- Link to my Resume-->
  <a href="Doc/resume.pdf">Click Here to Downlaod my Resume<br></a>
  <br>
 
  <br>
  
  
   <!-- Navigation to other links -->
  <a href="/"><button>Home</button></a>
  <a href="/edu"><button>Education</button></a>
  <a href="/exp"><button>Work Experience</button></a> 
  <a href="/skills"><button>Skills</button></a>
  <a href="/art"><button>Articles</button></a>
  <a href="/weather"><button>Weather</button></a>
  <a href="/bmi"><button>BMI</button></a>


  <br>
    <br>


  
    </center>
  </body>    

  </html>