<!DOCTYPE html>
<html>

<head>
  <!-- AMP Analytics -->
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <style>
    body {
      background-color: lightcoral;
    }

  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>My Cool Website</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Google Tag Manager -->
  <amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-PJXJTVGN&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>

<center>
  <!-- Main heading for my Skills page -->
  <br>
  <p>
   <h1 style="background-color: lightgray;"> My Skills and Competencies</h1>
    <br>
    <h4><i>Programming Languages - Python and R</i></h4>
    <h4><i>Data Analysis - SQL, Excel, Tableau</i></h4>
    <h4><i>CRM - Salesforce, Zoho, Microsoft Dynamics 365</i></h4>
    <h4><i>Data Visualization - PowerBI, Tableau</i></h4> 
    <h4> <i>Busienss Process Improvement</i></h4>
    <h4><i>Project Management</i></h4>
    <h4><i>Interpersonal Skills - Communiaction, Collaborative, problem Solving, Leadership</i></h4>
    
  <br>
    
  </p>
  <br>
  <!-- Navigation to other links -->
  <a href="/"><button>Home</button></a>
  <a href="/edu"><button>Education</button></a>
  <a href="/exp"><button>Work Experience</button></a> 
  <a href="/art"><button>Articles</button></a>
  <a href="/links"><button>Links</button></a>
  <a href="/weather"><button>Weather</button></a>
  <a href="/bmi"><button>BMI</button></a>

  <br>
    <br>

 <!-- Goes to the links page that has all links-->
  <img src = "static/images/linkedin_image.jpg" width = 50>
  <br>
  <a href="linked_page.html"> Visit my LinkedIn profile</a>
<br>
<br>
 <!-- Goes to the links page that has all links-->
  <img src = "static/images/cambrian_pix.jpg" width = 50>
  <br>
  <a href="linked_page.html"> Send an email<br></a>


<br>

<a href="Doc/resume.pdf">Click Here to Downlaod my Resume<br></a>

<a href="Doc/course.pdf">Click Here to Downlaod my Course Outline</a>




  </center>
</body>    

</html>